{% extends "layout.html" %}

{% block title %}About{% endblock %}

{% block main %}
<article class="article">
    <article class="article_inside">


        <h1 class="shire center">Shire_RPG</h1>
        <p class="paragraph">
            Welcome to <strong>Shire_RPG</strong>, a web application designed for RPG enthusiasts that want QUICK and
            EASY
            access to RPG
            custom player sheets.
        </p>
        <p class="paragraph">
            With Shire_RPG, you can create, edit, and manage RPG character sheets for games like
            Vampire: The Masquerade and Dungeons & Dragons and ALL others.
        </p>
        <p class="paragraph">
            This application also includes features such as
            dice rolling and campaign recall storage, all available for free!
        </p>
        <h3 class="center">Shire_RPG uses <a href="https://flask.palletsprojects.com/en/3.0.x/">Flask</a> for the
            back-end, <a href="https://sqlite.org/">SQLite3</a> for database and vanilla HTML, CSS and JS for the
            front-end.
        </h3>
        <h3 class="shadow center">This is an OpenSource app, so feel free to suggest changes or make a pull request!
        </h3>

        <div class="center">
            <button type="button" class="GitHub" onclick="window.location='https:\//github.com/sirBaggins/shire_rpg'">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                    <path
                        d="M12 0c-6.626 0-12 5.373-12 12 0 5.302 3.438 9.8 8.207 11.387.599.111.793-.261.793-.577v-2.234c-3.338.726-4.033-1.416-4.033-1.416-.546-1.387-1.333-1.756-1.333-1.756-1.089-.745.083-.729.083-.729 1.205.084 1.839 1.237 1.839 1.237 1.07 1.834 2.807 1.304 3.492.997.107-.775.418-1.305.762-1.604-2.665-.305-5.467-1.334-5.467-5.931 0-1.311.469-2.381 1.236-3.221-.124-.303-.535-1.524.117-3.176 0 0 1.008-.322 3.301 1.23.957-.266 1.983-.399 3.003-.404 1.02.005 2.047.138 3.006.404 2.291-1.552 3.297-1.23 3.297-1.23.653 1.653.242 2.874.118 3.176.77.84 1.235 1.911 1.235 3.221 0 4.609-2.807 5.624-5.479 5.921.43.372.823 1.102.823 2.222v3.293c0 .319.192.694.801.576 4.765-1.589 8.199-6.086 8.199-11.386 0-6.627-5.373-12-12-12z" />
                </svg>
                GitHub</button>
        </div>

    </article>
</article>


<style>
    @import url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');

    .medievalsharp-regular {
        font-family: "MedievalSharp", cursive;
        font-weight: 400;
        font-style: normal;
    }

    .article {
        display: flex;

        width: 80%;
        margin: auto;
    }

    .article_inside {
        display: flex;
        flex-direction: column;

        background-color: rgba(0, 0, 0, 0.651);
        color: white;
        padding: 2rem;
        text-align: justify;
        font-size: large;
        width: -webkit-fit-content;
        width: -moz-fit-content;
        width: fit-content;
        margin: 6rem auto;
    }


    .shire {
        font-family: "MedievalSharp", cursive;
        color: rgb(197, 197, 0);
        text-shadow: 1px 1px 4px black;
        font-size: xx-large;
    }

    .shadow {
        color: rgb(251, 255, 0);
        text-shadow: 1px 1px 2px rgb(0, 0, 0);

    }

    a {
        color: rgb(152, 163, 0);
        cursor: pointer;
    }

    .center {
        align-self: center;
    }

    .GitHub {
        display: flex;
        align-items: center;
        background-color: antiquewhite;
        border-radius: 12px;
        border: none;
        padding: 8px;
    }
</style>

{% endblock %}