{% extends "layout.html" %}

{% block title %}Games{% endblock %}

{% block main %}

<div>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    <div class="flashed {{ category }}">
        <h5>{{ message }}</h5>
        {% endfor %}
    </div>
    {% endif %}
    {% endwith %}
</div>

<article class="create scroll_lock">

    <!-- DISPLAY NAME AND GAME -->
    <table class="create_table">
        <tr>
            <th>
                BASIC INFO:
            </th>
        </tr>

        {% for value in data %}
        {% if value.type == "basic" %}
        <tr>
            <td>
                {{ value.value|upper() }} ({{ value.attribute }})
            </td>
        </tr>
        {% endif %}
        {% endfor %}
    </table>

    <!-- health -->
    <table class="generic_table">
        <tr>
            <th>
                HEALTH:
            </th>
            <th>
                VALUE:
            </th>
        </tr>

        {% for value in data %}
        {% if value.type == "health" %}
        <tr>
            <td class="hover_red" onclick="upToDelete('{{value.attribute}}')" style="text-align: center;">
                {{ value.attribute|upper() }}
            </td>
            <td style="text-align: center;">
                {{ value.value }}
            </td>
        </tr>
        {% endif %}
        {% endfor %}
    </table>

    <!-- attributes -->
    <table class="generic_table">
        <tr>
            <th>
                ATTRIBUTES:
            </th>
            <th>
                VALUE:
            </th>
        </tr>

        {% for value in data %}
        {% if value.type == "attribute" %}
        <tr>
            <td class="hover_red" onclick="upToDelete('{{value.attribute}}')" style="text-align: center;">
                {{ value.attribute|upper() }}
            </td>
            <td style="text-align: center;">
                {{ value.value }}
            </td>
        </tr>
        {% endif %}
        {% endfor %}
    </table>


    <!-- skills -->
    <table class="generic_table">
        <tr>
            <th>
                SKILLS:
            </th>
            <th>
                VALUE:
            </th>
        </tr>

        {% for value in data %}
        {% if value.type == "skill" %}
        <tr>
            <td class="hover_red" onclick="upToDelete('{{value.attribute}}')" style="text-align: center;">
                {{ value.attribute|upper() }}
            </td>
            <td style="text-align: center;">
                {{ value.value }}
            </td>
        </tr>
        {% endif %}
        {% endfor %}
    </table>

    <!-- magic -->
    <table class="generic_table">
        <tr>
            <th>
                MAGIC:
            </th>
            <th>
                VALUE:
            </th>
        </tr>

        {% for value in data %}
        {% if value.type == "magic" %}
        <tr>
            <td class="hover_red" onclick="upToDelete('{{value.attribute}}')" style="text-align: center;">
                {{ value.attribute|upper() }}
            </td>
            <td style="text-align: center;">
                {{ value.value }}
            </td>
        </tr>
        {% endif %}
        {% endfor %}
    </table>

    <!-- other -->
    <table class="generic_table">
        <tr>
            <th>
                OTHER:
            </th>
            <th>
                VALUE:
            </th>
            <th>
                TYPE:
            </th>
        </tr>

        {% for value in data %}
        {% if value.type not in ["basic", "skill", "magic", "attribute", "notes", "health"] %}
        <tr>
            <td class="hover_red" onclick="upToDelete('{{value.attribute}}')" style="text-align: center;">
                {{ value.attribute|upper() }}
            </td>
            <td style="text-align: center;">
                {{ value.value }}
            </td>
            <td style="text-align: center;">
                {{ value.type }}
            </td>
        </tr>
        {% endif %}
        {% endfor %}
    </table>

    <!-- notes -->
    <table class="generic_table">
        <tr>
            <th>
                NOTES:
            </th>
            <th>
                VALUE:
            </th>
        </tr>

        {% for value in data %}
        {% if value.type == "notes" %}
        <tr>
            <td class="hover_red" onclick="upToDelete('{{value.attribute}}')" style="text-align: center;">
                {{ value.attribute|upper() }}
            </td>
            <td style="text-align: center;">
                {{ value.value }}
            </td>
        </tr>
        {% endif %}
        {% endfor %}
    </table>

</article>

<div class="genesis">
    <form action="/create1" method="post">
        <table class="generic_table">
            <tr>
                <th>Type</th>
                <th>Attribute name</th>
                <th>Value</th>
            </tr>

            <tr>
                <td>
                    <select name="type" id="type" class="form-input" style="background-color: rgb(255, 255, 255);"
                        autofocus>
                        <option value="skill">Skill</option>
                        <option value="attribute">Attribute</option>
                        <option value="magic">Magic</option>
                        <option value="notes">Notes</option>
                        <option value="basic">Basic Info</option>
                        <option value="bars">Bars</option>
                        <option value="health">Health</option>
                        <option value="other" id="other">Other</option>

                    </select>
                </td>

                <td>
                    <input type="text" name="attribute" placeholder="attribute name" class="form-input" id="attribute"
                        required autocomplete="off">
                </td>
                <td>
                    <input type="text" name="value" placeholder="attribute value" class="form-input" id="valuer"
                        autocomplete="off" required>
                </td>

                <input type="text" name="sheet_id" value="{{data[0].sheet_id}}" hidden>

            </tr>
            <tr>
                <td style="text-align: center;">
                    <button type="reset" class="nav__btn register__btn" id="clear"
                        onclick="cancelDelete()">clear</button>
                </td>
                <td style="text-align: center;">
                    <button type="submit" name="btn" value="insert" class="nav__btn login__btn"
                        id="submit">insert</button>
                </td>
            </tr>
        </table>
    </form>

    <div>
        <button type="button" class="delete_all" onclick="deleteMe('{{data[0].sheet_id}}')"><strong>delete this
                sheet</strong></button>
    </div>
</div>


<script>
    function upToDelete(input) {
        document.getElementById("attribute").value = input;

        let submit = document.getElementById("submit");
        let clear = document.getElementById("clear");
        let required_valuer = document.getElementById("valuer");

        submit.value = "remove";
        submit.innerHTML = "remove";
        submit.className = "nav__btn logout__btn";

        clear.innerHTML = "cancel";
        clear.className = "nav__btn login__btn";

        required_valuer.required = false;
        required_valuer.disabled = true;
    }

    function cancelDelete() {
        let submit = document.getElementById("submit");
        let clear = document.getElementById("clear");
        let otherElement = document.getElementById("other");
        let required_valuer = document.getElementById("valuer");


        otherElement.innerText = "other";
        otherElement.value = "other";

        submit.value = "insert";
        submit.innerHTML = "insert";
        submit.className = "nav__btn login__btn";

        clear.innerHTML = "clear";
        clear.className = "nav__btn register__btn";

        required_valuer.required = true;
        required_valuer.disabled = false;
    }

    function deleteMe(sheet) {
        let text;
        if (confirm("ARE YOU SURE? CAN'T BE UNDONE!")) {
            return location.href = '/delete_sheet?id=' + sheet;
        }
    }

    document.getElementById("type").addEventListener("change", (other) => {
        const option = event.target.value;
        let attributeInput = document.getElementById("attribute");
        let otherElement = document.getElementById("other")

        if (option === "other") {
            let opt = prompt("new attribute", "other");
            otherElement.innerText = opt;
            otherElement.value = opt;
        }
        else if (option === "health") {
            attributeInput.value = "health";
        }
        else {
            attributeInput.value = "";
        }
    })



</script>


{% endblock %}