{% extends "layout.html" %}

{% block title %}Games{% endblock %}

{% block main %}

<div>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    <div class="flashed {{ category }}">
        <h5>{{ message }}</h5>
        {% endfor %}
    </div>
    {% endif %}
    {% endwith %}
</div>

<article class="create">

    <table class="create_table">
        <tr>
            <th>
                BASIC INFO:
            </th>
        </tr>

        <!-- DISPLAY NAME AND GAME -->
        {% for value in data %}
        {% if value.attribute == "name" %}
        <tr>
            <td>
                {{ value.attribute|upper() }}
            </td>
        </tr>
        {% endif %}
        {% if value.attribute == "game" %}
        <tr>
            <td>
                {{ value.attribute|upper() }}
            </td>
        </tr>
        {% endif %}
        {% endfor %}
    </table>
    <br>
    <table class="create_table">
        <tr>
            <th>
                ATTRIBUTES:
            </th>
            <th>
                VALUE:
            </th>
        </tr>

        {% for value in data %}
        {% if value.attribute != "name" and value.attribute != "game" %}
        <tr>
            <td class="hover_red" onclick="upToDelete('{{value.attribute}}')">
                {{ value.attribute|upper() }}
            </td>
            <td>
                {{ value.value }}
            </td>
        </tr>
        {% endif %}
        {% endfor %}
    </table>

    <form action="/create1" method="post">
        <table class="generic_table">
            <tr>
                <th>Insert new attribute</th>
                <th>Value</th>
            </tr>

            <tr>
                <input type="text" name="sheet_id" value="{{data[0].sheet_id}}" hidden>
                <td><input type="text" name="attribute" placeholder="attribute name" class="form-input" id="attribute"
                        required>
                </td>
                <td><input type="text" name="value" placeholder="attribute value" class="form-input">
                </td>
            </tr>
            <tr>
                <td style="text-align: center;">
                    <button type="reset" class="nav__btn register__btn" id="clear"
                        onclick="cancelDelete()">clear</button>
                </td>
                <td style="text-align: center;">
                    <button type="submit" name="btn" value="insert" class="nav__btn login__btn"
                        id="submit">insert</button>
                </td>
            </tr>
        </table>
    </form>


    <div>
        <button type="button" class="delete_all" onclick="deleteMe('{{data[0].sheet_id}}')"><strong>delete this
                sheet</strong></button>
    </div>

</article>


<script>
    function upToDelete(input) {
        document.getElementById("attribute").value = input;

        let submit = document.getElementById("submit");
        let clear = document.getElementById("clear");

        submit.value = "remove";
        submit.innerHTML = "remove";
        submit.className = "nav__btn logout__btn";

        clear.innerHTML = "cancel";
        clear.className = "nav__btn login__btn";
    }

    function cancelDelete() {
        let submit = document.getElementById("submit");
        let clear = document.getElementById("clear");

        submit.value = "insert";
        submit.innerHTML = "insert";
        submit.className = "nav__btn login__btn";

        clear.innerHTML = "clear";
        clear.className = "nav__btn register__btn";
    }

    function deleteMe(sheet) {
        let text;
        if (confirm("ARE YOU SURE? CAN'T BE UNDONE!")) {
            return location.href = '/delete_sheet?id=' + sheet;
        }
    }
</script>



{% endblock %}