<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');
    </style>
    <link rel="stylesheet" href="../static/styles.css">
    <title>{% block title %}{% endblock %}</title>
</head>

<body class="main__bg">

    <!-- navbar foreigner -->
    {% if not session["user_id"] %}

    <header>
        <div class="header__content medfont">
            <i>
                <a href=" /" class="logo">
                    <img src="../static/bg/logo.png" alt="logo" class="logo__img">
                </a>
            </i>
            <nav>
                <ul>
                    <li>
                        <a href="/login" class="nav__btn">log in</a>
                    </li>
                    <li>
                        <a href="/register" class="nav__btn register__btn">register</a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>

    {% else %}
    <!-- navbar local -->
    <header>
        <div class="header__content medfont">
            <i>
                <a href=" /" class="logo">
                    <img src="../static/bg/logo.png" alt="logo" class="logo__img">
                </a>
            </i>
            <nav>
                <ul>
                    <li>
                        <a href="/games" class="nav__btn">My characters</a>
                    </li>
                </ul>
            </nav>
            <nav>
                <ul>
                    <li>
                        <a href="/profile" class="nav__btn">profile</a>
                    </li>
                    <li>
                        <a href="/logout" class="nav__btn logout__btn">log out</a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>
    {% endif %}

    <!-- main content -->
    <main>
        {% block main %}{% endblock %}
    </main>

</body>

</html>