<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/parallax.css">
    <title>Home</title>
</head>

<body>
    <main>
        <section>
            <div class="middle-menu">
                <h1 class="text-center rem1bot">Login required</h1>
                <form action="/" method="post">
                    <input type="text" name="username" placeholder="Your username" autofocus
                        class="text-center rem1bot marginauto">
                    <input type="password" name="password" placeholder="Password"
                        class="text-center rem05bot marginauto">
                    <a href="/help" class="margin2">Forgot your passoword?</a>
                    <button type="submit" class="marginauto rem05bot">Login</button>
                    <br>
                </form>
            </div>
        </section>

        <section class="parallax">
            <img src="/static/bg/bg0.jpg" id="bg0">
            <img src="/static/bg/bg1.png" id="bg1" class="t_top2">
            <img src="/static/bg/bg2.png" id="bg2" class="t_top2">
            <img src="/static/bg/bg3.png" id="bg3" class="t_middle">
            <img src="/static/bg/bg4.png" id="bg4" class="t_middle">
        </section>
    </main>
</body>

</html>