<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RPG Character Sheet</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap">
    <link rel="stylesheet" href="../static/sheet.css">
    <script src="../static/script.js"></script>
</head>

<body>

    <div class="floatReturn">
        <a href="/games">
            <i class="fixed-return">
                <?xml version="1.0" encoding="iso-8859-1"?>
                <svg fill="#000000" height="50px" width="50px" version="1.1" id="Layer_1"
                    xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 330 330"
                    xml:space="preserve">
                    <path id="XMLID_6_" d="M165,0C74.019,0,0,74.019,0,165s74.019,165,165,165s165-74.019,165-165S255.981,0,165,0z M205.606,234.394
        c5.858,5.857,5.858,15.355,0,21.213C202.678,258.535,198.839,260,195,260s-7.678-1.464-10.606-4.394l-80-79.998
        c-2.813-2.813-4.394-6.628-4.394-10.606c0-3.978,1.58-7.794,4.394-10.607l80-80.002c5.857-5.858,15.355-5.858,21.213,0
        c5.858,5.857,5.858,15.355,0,21.213l-69.393,69.396L205.606,234.394z" />
                </svg>
            </i>
        </a>
    </div>

    <div class="floatUpDown">
        <div class="floatUp">
            <a href="#top">
                <?xml version="1.0" encoding="utf-8"?>
                <svg fill="#000000" width="50px" height="50px" viewBox="0 0 24 24" id="top-circle"
                    data-name="Flat Color" xmlns="http://www.w3.org/2000/svg" class="icon flat-color">
                    <circle id="primary" cx="12" cy="12" r="10" style="fill: rgb(0, 0, 0);"></circle>
                    <path id="secondary"
                        d="M15.21,9.79l-2.5-2.5a1,1,0,0,0-1.42,0l-2.5,2.5a1,1,0,0,0,1.42,1.42l.79-.8V16a1,1,0,0,0,2,0V10.41l.79.8a1,1,0,0,0,1.42,0A1,1,0,0,0,15.21,9.79Z"
                        style="fill: rgb(44, 169, 188);"></path>
                </svg>
            </a>
        </div>
        <div class="floatDown">
            <a href="#bottom">
                <?xml version="1.0" encoding="utf-8"?>
                <svg fill="#000000" width="50px" height="50px" viewBox="0 0 24 24" id="top-circle"
                    data-name="Flat Color" xmlns="http://www.w3.org/2000/svg" class="icon flat-color">
                    <circle id="primary" cx="12" cy="12" r="10" style="fill: rgb(0, 0, 0);"></circle>
                    <path id="secondary"
                        d="M15.21,9.79l-2.5-2.5a1,1,0,0,0-1.42,0l-2.5,2.5a1,1,0,0,0,1.42,1.42l.79-.8V16a1,1,0,0,0,2,0V10.41l.79.8a1,1,0,0,0,1.42,0A1,1,0,0,0,15.21,9.79Z"
                        style="fill: rgb(44, 169, 188);"></path>
                </svg>
            </a>
        </div>
    </div>

    <div class="floatDice0" id="pageDice">
        <button type="button" onclick="openDice('pageDice', 'inside')">
            <?xml version="1.0" encoding="iso-8859-1"?>
            <svg fill="#000000" height="50px" width="50px" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 423.757 423.757" xml:space="preserve">
                <g>
                    <g>
                        <path
                            d="M189.294,385.219l112.522,38.538l98.514-98.509l-113.3-37.765L189.294,385.219z M239.962,379.203
			c-5.96,5.96-15.672,8.54-21.699,5.76c-6.021-2.78-6.077-9.861-0.113-15.821c5.96-5.96,15.672-8.54,21.699-5.76
			C245.875,366.162,245.921,373.243,239.962,379.203z M276.298,391.931c-5.96,5.96-15.672,8.54-21.699,5.76
			c-6.021-2.78-6.077-9.861-0.113-15.821c5.965-5.96,15.672-8.54,21.699-5.76C282.207,378.89,282.258,385.971,276.298,391.931z
			 M349.56,334.94c5.96-5.96,15.672-8.54,21.699-5.76c6.021,2.78,6.077,9.861,0.118,15.821s-15.672,8.54-21.699,5.76
			S343.601,340.9,349.56,334.94z M313.331,323.031c5.96-5.96,15.672-8.54,21.699-5.76c6.021,2.78,6.077,9.861,0.113,15.821
			c-5.96,5.96-15.672,8.54-21.699,5.76C307.423,336.072,307.372,328.991,313.331,323.031z M312.415,388.019
			c6.021,2.78,6.077,9.861,0.113,15.821c-5.96,5.96-15.672,8.54-21.699,5.76s-6.077-9.861-0.118-15.821
			C296.676,387.825,306.388,385.244,312.415,388.019z M298.693,304.538c6.021,2.78,6.077,9.861,0.113,15.821
			c-5.96,5.96-15.672,8.54-21.699,5.76c-6.021-2.78-6.077-9.861-0.113-15.821C282.954,304.338,292.667,301.763,298.693,304.538z" />
                        <path d="M402.158,311.634l-37.202-111.611l-111.611-37.207l37.202,111.606L402.158,311.634z M319.281,224.118
			c4.168-4.168,12.544-2.555,18.708,3.61s7.782,14.541,3.61,18.708c-4.168,4.168-12.544,2.555-18.708-3.61
			C316.726,236.662,315.108,228.285,319.281,224.118z" />
                        <path d="M135.171,0L29.939,52.613l105.231,52.613l105.226-52.613L135.171,0z M135.171,63.288c-8.714,0-15.785-4.782-15.785-10.675
			c0-5.898,7.066-10.675,15.785-10.675s15.785,4.782,15.785,10.675C150.95,58.511,143.885,63.288,135.171,63.288z" />
                        <path d="M162.22,201.728c5.028-1.853,9.231,1.08,10.685,6.702l63.022-63.022l12.805,4.27V63.529l-106.819,53.412v122.481
			l10.798-10.798c-1.101-1.951-1.761-4.48-1.761-7.475C150.95,212.716,155.999,204.022,162.22,201.728z M230.956,86.866
			c6.226-2.294,11.269,2.678,11.269,11.105c0,8.427-5.043,17.121-11.269,19.415c-6.226,2.294-11.269-2.678-11.269-11.105
			C219.686,97.853,224.73,89.16,230.956,86.866z M198.843,142.003c6.226-2.294,11.269,2.678,11.269,11.105
			c0,8.427-5.043,17.121-11.269,19.415c-6.226,2.294-11.269-2.678-11.269-11.105C187.574,152.991,192.622,144.297,198.843,142.003z
			 M150.95,140.175c0-8.427,5.043-17.121,11.269-19.415c6.226-2.294,11.269,2.678,11.269,11.105c0,8.428-5.043,17.121-11.269,19.415
			C155.994,153.574,150.95,148.603,150.95,140.175z" />
                        <path d="M21.599,202.839l105.313,51.579l1.51-1.51V116.941L21.599,63.529V202.839z M107.855,201.728
			c6.226,2.294,11.269,10.988,11.269,19.415s-5.043,13.399-11.269,11.105c-6.226-2.294-11.269-10.988-11.269-19.415
			C96.586,204.406,101.635,199.434,107.855,201.728z M75.011,140.298c6.226,2.294,11.269,10.987,11.269,19.415
			c0,8.427-5.043,13.399-11.269,11.105c-6.226-2.294-11.269-10.988-11.269-19.415C63.741,142.976,68.79,138.004,75.011,140.298z
			 M41.208,86.866c6.226,2.294,11.269,10.987,11.269,19.415c0,8.427-5.043,13.399-11.269,11.105
			c-6.226-2.294-11.269-10.987-11.269-19.415C29.939,89.544,34.982,84.572,41.208,86.866z" />
                        <path
                            d="M239.726,164.639l-98.514,98.504l38.543,112.533l97.736-97.746L239.726,164.639z M197.655,338.565
			c-5.96,5.96-13.046,5.909-15.821-0.118c-2.775-6.026-0.2-15.739,5.76-21.699c5.96-5.96,13.046-5.909,15.821,0.113
			C206.19,322.883,203.615,332.605,197.655,338.565z M230.525,221.773c-5.96,5.96-13.046,5.908-15.821-0.113
			c-2.78-6.021-0.2-15.739,5.76-21.699c5.96-5.96,13.046-5.908,15.821,0.113C239.066,206.1,236.485,215.813,230.525,221.773z" />
                    </g>
                </g>
            </svg>
        </button>

        <div id="inside">
            <h3>Dices</h3>

            <select name="dices" id="dices" class="selector">
                <option value="100">D100</option>
                <option value="20">D20</option>
                <option value="10">D10</option>
                <option value="12">D12</option>
                <option value="8">D8</option>
                <option value="6">D6</option>
                <option value="4">D4</option>
            </select>

            <div id="diceroll">
                <div>
                    <button type="button" id="dice" onclick="rollDice('dice', 'diceSum', 'diceResult', 20)"
                        class="diceBTN">Roll
                    </button> + <input type="text" id="diceSum" class="diceInput" value="0"> = <input type="text"
                        id="diceResult" class="diceInput" readonly>
                </div>
            </div>
        </div>
    </div>


    <div class="container">

        <h1>Character Sheet</h1>

        <!-- health -->
        <div>
            <div class="section">
                <h2>HEALTH</h2>

                {% for value in data %}
                {% if value.type == "health" %}

                <div class="container-of-container">
                    <h2 id="{{ value.attribute }}Title">0</h2>

                    <!-- health bar -->
                    <div id="bar-container" class="bar-container">
                        <div id="{{ value.attribute }}" class="bar"></div>
                    </div>

                    <!-- controls -->
                    <div>

                        <button onclick="updateBar('{{ value.attribute }}', '{{ value.value }}', 'sub', 'health')">Take
                            Damage</button>
                        <button
                            onclick="updateBar('{{ value.attribute }}', '{{ value.value }}', 'add', 'health')">Heal</button>
                    </div>

                    <script>initBar('{{ value.attribute }}', '{{ value.value }}')</script>
                </div>

                {% endif %}
                {% endfor %}

            </div>

            <!-- bars -->
            <div class="section">

                {% for value in data %}
                {% if value.type == "bars" %}
                <div class="container-of-container">
                    <h4 style="text-transform: uppercase;">{{ value.attribute }}</h4>
                    <h2 id="{{ value.attribute }}Title">0</h2>

                    <!-- health bar -->
                    <div id="bar-container" class="bar-container">
                        <div id="{{ value.attribute }}" class="bar2"></div>
                    </div>

                    <!-- controls -->
                    <div>

                        <button
                            onclick="updateBar('{{ value.attribute }}', '{{ value.value }}', 'sub', 'notHealth')">Subtract</button>
                        <button
                            onclick="updateBar('{{ value.attribute }}', '{{ value.value }}', 'add', 'notHealth')">Add</button>
                    </div>

                    <script>initBar('{{ value.attribute }}', '{{ value.value }}')</script>
                </div>
                {% endif %}
                {% endfor %}

            </div>
        </div>

        <!-- basic -->
        <div class="section">
            <h2>Basic Info</h2>

            {% for value in data %}
            {% if value.type == "basic" %}
            <div class="input-group">

                <label for="{{ value.attribute }}">{{ value.attribute|title }}:</label>
                <input type="text" id="{{ value.attribute }}" value="{{ value.value|upper() }}" readonly>

            </div>
            {% endif %}
            {% endfor %}

        </div>

        <div class="section">
            <!-- attributes -->
            <h2>Attributes</h2>
            <div class="flex-box">

                {% for value in data %}
                {% if value.type == "attribute" %}
                <div class="flex-items">

                    <label for="{{ value.attribute }}">{{ value.attribute|title }}:</label>
                    <input type="text" id="{{ value.attribute }}" value="{{ value.value|upper() }}" readonly>

                </div>
                {% endif %}
                {% endfor %}


            </div>

            <!-- skills -->
            <div class="section">
                <h2>Skills</h2>

                <div class="flex-box">

                    {% for value in data %}
                    {% if value.type == "skill" %}
                    <div class="flex-items">

                        <label for="{{ value.attribute }}">{{ value.attribute|title }}:</label>
                        <input type="text" id="{{ value.attribute }}" value="{{ value.value|upper() }}" readonly>

                    </div>
                    {% endif %}
                    {% endfor %}

                </div>
            </div>

            <!-- perks -->
            <div class="section">
                <h2>Perks</h2>

                <div class="flex-box">

                    {% for value in data %}
                    {% if value.type == "perk" %}
                    <div class="flex-items">

                        <label for="{{ value.attribute }}">{{ value.attribute|title }}:</label>
                        <input type="text" id="{{ value.attribute }}" value="{{ value.value|upper() }}" readonly>

                    </div>
                    {% endif %}
                    {% endfor %}

                </div>
            </div>

            <!-- talents -->
            <div class="section">
                <h2>Talents</h2>

                <div class="flex-box">

                    {% for value in data %}
                    {% if value.type == "talents" %}
                    <div class="flex-items">

                        <label for="{{ value.attribute }}">{{ value.attribute|title }}:</label>
                        <input type="text" id="{{ value.attribute }}" value="{{ value.value|upper() }}" readonly>

                    </div>
                    {% endif %}
                    {% endfor %}

                </div>
            </div>

            <!-- magic -->
            <div class="section">
                <h2>Magic</h2>

                {% for value in data %}
                {% if value.type == "magic" %}
                <div class="input-group">

                    <label for="{{ value.attribute }}">{{ value.attribute|title }}:</label>
                    <textarea id="{{ value.attribute }}" class="textarea" readonly>{{value.value|upper() }}</textarea>
                </div>

                {% endif %}
                {% endfor %}

            </div>

            <!-- other -->
            <div class="section">
                <h2>Other</h2>

                {% for value in data %}
                {% if value.type not in ["basic", "skill", "magic", "attribute", "notes", "health", "perks", "talents",
                "bars"] %}
                <div class="input-group">

                    <label for="{{ value.attribute }}">{{ value.attribute|title }}:</label>
                    <input type="text" id="{{ value.attribute }}" value="{{ value.value|upper() }}" readonly>

                </div>

                {% endif %}
                {% endfor %}

            </div>


            <!-- notes -->
            <div class="section">
                <h2>Notes</h2>
                <div class="input-group">
                    {% for value in data %}
                    {% if value.type == "notes" %}
                    <label for="{{ value.attribute }}">{{ value.attribute|title }}:</label>
                    <textarea id="{{ value.attribute }}" rows="5" placeholder="{{ value.value }}"
                        class="placeholder-black" readonly></textarea>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>

        <a id="bottom"></a>

        <script>
            document.getElementById("dices").addEventListener("change", (other) => {
                const option = event.target.value;

                document.getElementById("diceroll").innerHTML = `<div>
                    <button type="button" id="dice" onclick="rollDice('dice', 'diceSum', 'diceResult', ${option})"
                        class="diceBTN">Roll
                        dice</button> + <input type="text" id="diceSum" class="diceInput" value="0"> = <input
                        type="text" id="diceResult" class="diceInput" readonly>
                </div>`
            })

        </script>
        <style>
            textarea {
                resize: none;
                height: 10rem;
                width: 95%;

                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

            }
        </style>
</body>

</html>